* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /*alinha os itens*/
    flex-flow: row nowrap;
    background: yellow;
    height: 800px;
}
.flex-item {
    width: 100%;
    background: red;
    color: #fff;
}