body{
    font-family: Arial;
    margin: 50px;
}
h2 {
    margin: 0;
}
}
h1 {
    text-align: center;
}
p {
    color: #b2b2b2;
}
.item {
    padding: 30px;
    margin: 20px;
    color: white;
    background: #111;
    border-radius: 4px;
}
span {
    color: #febe01;
}

button {
    color: #332200;
    background: #febe01;
    padding: 10px;
    border-radius: 4px;
    border: none;
}