/* como uma transição ocorre: */
.heading{
    transition: all 1s ease-in-out;
}
/* hover = quando passar o mouse no elemento selecionado causa algum efeito pré-estabelecido */
.heading:hover{
    background: red;
}

a:link{
    color: salmon;
    text-decoration: none;
}
a:visited{
    color:slateblue;
}
a:hover{
    color:white;
    background: darkslateblue;
    text-decoration: none;
}
input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
    border: 1px solid black;
}

input:checked + p {
    background: red;
}

p:not(.meio) {
    color: blue;
}
