* {
    margin: 0;
    font-family: Arial;    
}
body {
    background: #e7e7e7;
    margin-right: 15%;
    margin-left: 15%;
}
h2,a {   
    flex-wrap: wrap;
    flex: 1;
    text-decoration: none;
    color: black;
}
p {
    font-size: 18px;
}

img {
    max-width: 400px;
}
.botão{
    background: red;
    padding: 10px 20px;
    border-radius: 4px;
    color: #f7f7f7;
}
.logo {
    display: flex;
    place-content: center;
    margin: 60px;
    text-decoration: none;
}

.menu {
    display: flex;
    padding: 15px 30px;
    font-size: 12px;
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    place-content: center;
    gap: 15px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}

.descricao {
    height: 50vh;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    place-self: center;
    align-items: center;
    text-align: right;
}

.info {
    background: #f7f7f7;
    display: grid;
    gap: 20px;
    place-items: end;
    padding: 10px;
}

.vantagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20vh;
}
.vanBik {
    grid-row: span 3;
    color: #ccc;
    text-align: right;
    font-size: 50px;
    align-self: center;
    padding-right: 20px;
}
.rastreador {
    grid-area: 3 / 2;
}

.motor, 
.km,
.rastreador {
    background: white;
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 20px;
    margin-right: 17%;
}
#desc1 {
    grid-area: 2 / 2;
}

.foot {
    font-size: 10px;
    display:grid;
    height: 10vh;
    text-align: center;
    place-content: center;
}